* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.title {
  padding-bottom: 48px;
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;
  max-width: 415px;
  padding-left: 24px;
}

p strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: hsla(0, 0%, 100%, 1);
  padding: 24px;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-top: -16;
  margin-left: -32;
}

main {
  background-color: hsla(0, 0%, 40%, 1);
  border-top: 8px solid hsla(0, 0%, 60%, 1);
  padding-top: 64px;
  padding-bottom: 64px;
}